.card,
.vvcard:hover {
  border-radius: 5px;
}
.pre-img,
.vvcard:hover .prod-img,
.vvicard .prod-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.is-clickable {
  cursor: pointer;
}
.is-color-db {
  color: #dbdbdb;
}
.is-color-4a {
  color: #4a4a4a;
}
.is-red {
  color: red !important;
}
.has-no-border {
  border: none !important;
}
.is-border-radius-5px {
  border-radius: 5px;
}
.fited-width {
  width: fit-content !important;
}
.fited-height {
  height: fit-content !important;
}
.is-white {
  color: white !important;
}
.is-d-centered {
  margin: 0 auto !important;
}
.has-a-border {
  border: 1px solid #dbdbdb;
}
.is-bg-red {
  background-color: rgb(247, 56, 56) !important;
}
.is-bg-white {
  background-color: white !important;
}
.is-green,
.fa-check{
  color: #028300 !important;
}
.has-outline-green:focus,
.has-outline-green:active {
  outline-color: #028300 !important;
  border-color: #028300 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.has-outline-red:focus,
.has-outline-red:active {
  outline-color: red !important;
  border-color: red !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media screen and (max-width: 1023px) {
  .pyay-hr {
    display: block !important;
  }
}
