.card,
.vvcard:hover {
  border-radius: 5px;
}
.pre-img,
.vvcard:hover .prod-img,
.vvicard .prod-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.is-clickable {
  cursor: pointer;
}
.is-color-db {
  color: #dbdbdb;
}
.is-color-4a {
  color: #4a4a4a;
}
@media screen and (max-width: 1023px) {
  .navbar-divider {
    display: block;
  }
}
